<ion-view title="Dashboard - Log hours" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="dashboardLogHours-form6" class="list ">
            <label class="item item-input " id="dashboardLogHours-input13">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="dashboardLogHours-input15">
                <span class="input-label">Hours</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.dashboard" id="dashboardLogHours-button12" class=" button button-positive  button-block ">Save</a>
    </ion-content>
</ion-view>