<ion-view title="Dashboard" hide-back-button="true" id="page2">
    <ion-content padding="true" class="has-header">
        <h3 id="dashboard-heading1" style="color:#000000;text-align:center;">My Total Hours</h3>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <p id="dashboard-markdown1" style="color:#000000;font-size:30px;">
            <strong>15</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <div class="item item-body " id="dashboard-list-item-container1">
            <p id="dashboard-markdown2" style="margin-top:0px;color:#000000;">
                <strong>Today</strong>- 2 hrs - Regather Co-op</p>
        </div>
        <ion-list id="dashboard-list6">
            <ion-item id="dashboard-list-item4">This week - 4 hrs</ion-item>
            <ion-item id="dashboard-list-item5">Last week - 7 hrs</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <a ui-sref="tabsController.dashboardLogHours" id="dashboard-button10" class=" button button-positive  button-block icon-left ion-plus ">Add hours</a>
    </ion-content>
</ion-view>