<ion-view title="Edit log" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="editLog-form7" class="list ">
            <label class="item item-input " id="editLog-input16">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="editLog-input17">
                <span class="input-label">Hours</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.viewLogs" id="editLog-button22" class=" button button-positive  button-block ">Save</a>
    </ion-content>
</ion-view>