<ion-view title="Edit log">

    <organisation-subheader></organisation-subheader>

    <ion-content padding="true" class="has-header has-subheader-organisation">
        <form class="editLog" name="editLog" class="list" ng-submit="processForm(editLog)" novalidate>

            <!-- date -->
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="text" name="date_pretty" id="date_pretty" ng-model="formData.date_pretty" class="datepicker">
            </label>
            <label class="error block text-right padding assertive" ng-show="editLog.date.$invalid && formSubmitted" for="date">
                Please select a date
            </label>
            <!-- /date -->

           <!-- hours -->
            <label class="item item-select">
                <span class="input-label">Hours</span>
                <select ng-model="formData.hours" ng-options="option.name for option in hours track by option.value" name="hours" id="hours" ng-change="calculateDuration(formData.hours.value, formData.minutes.value)">
                    <option value="">Select hours</option>
                    <!--  -->
                </select>
            </label>
            <!-- /hours -->

            <!-- minutes -->
            <label class="item item-select">
                <span class="input-label">Minutes</span>
                <select ng-model="formData.minutes" ng-options="option.name for option in minutes track by option.value" name="minutes" id="minutes" ng-change="calculateDuration(formData.hours.value, formData.minutes.value)" ng-disabled="formData.hours.value == 24">
                    <option value="">Select minutes</option>
                    <!--  -->
                </select>
            </label>
            <label class="error block text-right padding assertive" ng-show="editLog.duration.$invalid && formSubmitted" for="hours">
                Please select a duration of at least 5 minutes
            </label>
            <label class="error block text-right padding assertive" ng-show="editLog.totalDurationToday.$invalid && formSubmitted" for="hours">
                You cannot log more than 24 hours in a day.
            </label>
            <!-- /minutes -->

            <!-- total logged on this date -->
            <label class="item item-input ng-hide">
                <span class="input-label">Total logged on this date</span>
                <input type="number" ng-model="formData.totalDurationThisDate" id="totalDurationToday" name="totalDurationToday" ng-max="24 * 60">
            </label>
            <!-- /total logged on this date -->

            <!-- duration -->
            <label class="item item-input ng-hide">
                <span class="input-label">Duration</span>
                <input type="number" name="duration" id="duration" ng-model="formData.duration" ng-min="5" required>
            </label>
            <!-- /duration -->

            <!-- id -->
            <label class="item item-input" ng-show="options.debug">
                <span class="input-label">Log id</span>
                <input type="text" ng-model="formData.id" name="id" id="id" />
            </label>
            <!-- /id -->

            <!-- offline id -->
            <label class="item item-input" ng-show="options.debug">
                <span class="input-label">Offline id</span>
                <input type="text" ng-model="formData.offline_id" name="offline_id" id="offline_id" />
            </label>
            <!-- /offline id -->

            <!-- buttons -->
            <button type="submit" class="button button-positive button-block">Save</a>
        </form>
    </ion-content>
</ion-view>