<ion-view title="Edit log">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div ng-repeat="log in logs | filter: { id: logId }">
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" placeholder="" value="{{ log.date | date:'yyyy-MM-dd'}}">
                </label>
                <label class="item item-input">
                    <span class="input-label">Hours</span>
                    <input type="number" placeholder="E.g. 7" value="{{ log.hours }}">
                </label>
            </div>
        </form>
        <a ui-sref="tabs.view-logs" class=" button button-positive button-block button-outline">Save</a>
    </ion-content>
</ion-view>