<ion-view title="Log hours" hide-back-button="true" id="page14">
    <ion-content padding="true" class="has-header">
        <form id="logHours-form10" class="list ">
            <label class="item item-input " id="logHours-input18">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="logHours-input19">
                <span class="input-label">Hours</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <button id="logHours-button27" class=" button button-positive  button-block ">Save</button>
    </ion-content>
</ion-view>