<ion-view title="Login" hide-back-button="true">
    <ion-content padding="true" class="has-header">
    
        <img class="logo" src="img/power-to-change.svg" alt="">

        <p class="text-center padding">Please fill in the form below to login.</p>

        <!-- form#login -->
        <form id="login" name="login" class="list" ng-submit="processForm(login)" novalidate>

            <ion-list>

                <!-- email -->
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" id="email" placeholder="E.g. jon@smith.com" ng-model="formData.email" ng-pattern="/^[\w.%+\-]+@[\w.\-]+\.[A-Za-z]{2,6}$/" required>
                </label>
                <label class="error block text-right padding assertive" ng-show="login.email.$invalid && formSubmitted" for="email">
                    Please enter a valid email address
                </label>
                <!-- /email -->

                <!-- password -->
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" id="password" placeholder="Enter password" ng-model="formData.password" minlength="6" required>
                </label>
                <label class="error block text-right padding assertive" ng-show="login.password.$invalid && formSubmitted" for="password">
                    Please enter at least 6 characters
                </label>
                <!-- /password -->

            </ion-list>

            <!-- buttons -->
            <button type="submit" class="button button-positive button-block button-outline">Log in</button>
            <a ng-click="forgotPassword()" class="button button-positive button-block button-clear button-small">I forgot my password</a>
            <a ui-sref="register" class="button button-positive button-block button-clear">Or register</a>

        </form>
        <!-- /form#login -->

        <!-- <a href="#/tab/dashboard" class="button button-positive button-block button-clear button-faint">Skip to app</a> -->

    </ion-content>
</ion-view>