<ion-view title="Login" hide-back-button="true" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list2">
                <label class="item item-input " id="login-input3">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input4">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="tabsController.dashboard_tab1" id="login-button3" class=" button button-positive  button-block ">Log in</a>
            <a ui-sref="register" id="login-button4" class=" button button-positive  button-block button-clear ">Or Register</a>
        </form>
    </ion-content>
</ion-view>