<ion-view title="Login" hide-back-button="true">
    <ion-content padding="true" class="has-header">
    
        <img class="logo" src="../img/power-to-change.svg" alt="">

        <p class="text-center padding">Please fill in the form below to login.</p>

        <!-- form#login -->
        <form id="login" class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="E.g. jon@smith.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter a password">
                </label>
            </ion-list>
            <div class="spacer-10"></div>
            <a ui-sref="tabsController.dashboard_tab1" class="button button-positive button-block button-outline">Log in</a>
            <a ui-sref="register" class="button button-positive button-block button-clear">Or register</a>

            <div class="spacer-30"></div>

            <a href="#/tab/dashboard" class="button button-positive button-block button-clear">Skip to app</a>
        </form>
        <!-- /form#login -->

    </ion-content>
</ion-view>