<ion-view title="Log hours">

    <organisation-subheader></organisation-subheader>

    <ion-content padding="true" class="has-header has-subheader-organisation">
        
    <!-- form#createLog -->
        <form id="createLog" name="createLog" class="list" ng-submit="processForm(createLog)" novalidate>

            <!-- date -->
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="text" name="date_pretty" id="date_pretty" class="datepicker">
            </label>
            <label class="error block text-right padding assertive" ng-show="createLog.date.$invalid && formSubmitted" for="date">
                Please select a date
            </label>
            <!-- /date -->

            <!-- hours -->
            <label class="item item-select">
                <span class="input-label">Hours</span>
                <select ng-model="formData.hours" ng-options="option.name for option in hours track by option.value" name="hours" id="hours" ng-change="calculateDuration()">
                    <option value="" selected>Select hours</option>
                    <!--  -->
                </select>
            </label>
            <!-- /hours -->

            <!-- minutes -->
            <label class="item item-select">
                <span class="input-label">Minutes</span>
                <select ng-model="formData.minutes" ng-options="option.name for option in minutes track by option.value" name="minutes" id="minutes" ng-change="calculateDuration()" ng-disabled="formData.hours.value == 24">
                    <option value="" selected>Select minutes</option>
                    <!--  -->
                </select>
            </label>
            <label class="error block text-right padding assertive" ng-show="createLog.duration.$invalid && formSubmitted" for="hours">
                Please select a duration of at least 5 minutes
            </label>
            <!-- /minutes -->

            <!-- duration -->
            <label class="item item-input ng-hide">
                <span class="input-label">Duration</span>
                <input type="number" ng-model="formData.duration" id="duration" name="duration" ng-min="5" required>
            </label>
            <!-- /duration -->

            <!-- user_id -->
            <label class="item item-input hide">
                <span class="input-label">User id</span>
                <input type="text" ng-model="formData.user_id" name="user_id" id="user_id" required />
            </label>
            <!-- /user_id -->

            <!-- buttons -->
            <button type="submit" class="button button-positive button-block button-outline">Save</button>

        </form>
        <!-- /form#createLog -->

    </ion-content>
</ion-view>