<ion-view hide-back-button="{{isAndroid}}" title="My Profile">

	<!--<organisation-subheader></organisation-subheader>-->

    <ion-content padding="true" class="has-header  profile">
    	<div class="padding-left padding-right">

	    	<!-- form#register -->
	    	<form id="user" name="user" class="list" ng-submit="saveUser(user)" novalidate>
	    	    <ion-list>

	    	        <!-- name -->
	    	            <span class="input-label">Full name</span>
	    	        <label class="item item-input">
	    	            <input type="text" name="name" id="name" placeholder="E.g. Jon Smith" ng-model="formData.name" required>
	    	        </label>
	    	        <label class="error block text-right padding assertive" ng-show="user.name.$invalid && formSubmitted" for="name">
	    	            Please enter your full name
	    	        </label>
	    	        <!-- /name -->

	    	        <!-- email -->
	    	            <span class="input-label">Email</span>
	    	        <label class="item item-input">
	    	            <input type="email" name="email" id="email" placeholder="E.g. jon@smith.com" ng-model="formData.email" ng-pattern="/^[\w.%+\-]+@[\w.\-]+\.[A-Za-z]{2,6}$/" required>
	    	        </label>
	    	        <label class="error block text-right padding assertive" ng-show="user.email.$invalid && formSubmitted" for="email">
	    	            Please enter a valid email address
	    	        </label>
	    	        <!-- /email -->


	    	        <!-- password -->

					<span class="input-label">Change password</span>
					<label class="item item-input">
	    	            <input type="password" name="password" id="password" placeholder="&#9679 &#9679 &#9679 &#9679 &#9679 &#9679" ng-model="formData.password" minlength="6">
	    	        </label>
	    	        <label class="error block text-right padding assertive" ng-show="user.password.$invalid && formSubmitted" for="password">
	    	            Please enter at least 6 characters
	    	        </label>
	    	        <!-- /password -->

	    	        <!-- phone -->
	    	            <span class="input-label">Phone number</span>
	    	        <label class="item item-input">
	    	            <input type="tel" name="phone" id="phone" placeholder="E.g. 07979799799" ng-model="formData.phone" minlength="6" maxlength="15" ng-pattern="/^([0-9|+|*|#|\-]+)$/" required>
	    	        </label>
	    	        <label class="error block text-right padding assertive" ng-show="user.phone.$invalid && formSubmitted" for="phone">
	    	            Please enter only digits or these symbols: *+#- (between 6 and 15 characters in length)
	    	        </label>
	    	        <!-- /phone -->

	    	        <!-- year of birth -->
	    	            <span class="input-label">Year of birth (optional)</span>
	    	        <label class="item item-select">
	    	            <select ng-model="formData.yearOfBirth" ng-options="option for option in years track by option" name="yearOfBirth" id="yearOfBirth">
	    	                <option disabled value="">Select year</option>
	    	                <!--  -->
	    	            </select>
	    	        </label>
	    	        <!-- /year of birth -->

	    	        <!-- gender -->
	    	            <span class="input-label">Gender (optional)</span>
	    	        <label class="item item-select" ng-class="{'item-select-disabled': gendersDisabled}">
	    	            <select ng-model="formData.gender" ng-options="option.name for option in genders track by option.id" name="gender" id="gender" ng-disabled="gendersDisabled">
	    	                <option disabled value="">Select gender</option>
	    	                <!--  -->
	    	            </select>
	    	        </label>
	    	        <!-- /gender -->


	    	        <!-- region -->
	    	            <span class="input-label">Region</span>
	    	        <label class="item item-select" ng-class="{'item-select-disabled': regionsDisabled}">
	    	            <select ng-model="formData.region" ng-options="option.name for option in regions track by option.id" name="region" id="region" ng-change="populateOrganisations(formData.region.id)" ng-disabled="regionsDisabled" required>
	    	                <option disabled value="">Select region</option>
	    	                <!--  -->
	    	            </select>
	    	        </label>
	    	        <label class="error block text-right padding assertive" ng-show="user.region.$invalid && formSubmitted" for="region">
	    	            Please select a region
	    	        </label>
	    	        <!-- /region -->

	    	        <!-- organisation -->
	    	            <span class="input-label">Organisation</span>
	    	        <label class="item item-select" ng-class="{ 'item-select-disabled': organisationsDisabled }">
	    	            <select ng-model="formData.organisation" ng-options="option.name for option in organisations track by option.id" name="organisation" id="organisation" ng-disabled="organisationsDisabled" required>
	    	                <option disabled value="">Select organisation</option>
	    	                <!--  -->
	    	            </select>
	    	        </label>
	    	        <label class="error block text-right padding assertive" ng-show="user.organisation.$invalid && formSubmitted" for="organisation">
	    	            Please select an organisation
	    	        </label>
	    	        <!-- /organisation -->

	    	    </ion-list>

	    	    <div class="spacer-10"></div>

	    	    <!-- buttons -->
	    	    <button type="submit" class="button button-energized button-block">Save profile</button>
	    	</form>
	    	<!-- /form#register -->

    	</div>
    </ion-content>
</ion-view>