<ion-view title="Settings">

    <organisation-subheader></organisation-subheader>

    <ion-content padding="true" class="has-header has-subheader-organisation settings">
        <form class="list" ng-hide="isIOS">
            <div class="item item-divider">
                Location reminders
                <p class="wrap"><small>Get a reminder to log your hours when you leave {{ organisationName }}:</small></p>
            </div>
            <ion-toggle toggle-class="toggle-positive" ng-click="locationReminders()" ng-model="locationRemindersSwitch">Location reminders</ion-toggle>
        </form>

        <form id="user" name="user" class="list" ng-submit="saveUser(user)" novalidate>
            <div class="item item-divider">
                Account settings
                <p><small>{{ getUserEmail() }}</small></p>
            </div>
            <!-- region -->
            <label class="item item-select" ng-class="{'item-select-disabled': regionsDisabled}">
                <span class="input-label">Region</span>
                <select ng-model="formData.region" ng-options="option.name for option in regions track by option.id" name="region" id="region" ng-change="populateOrganisations(formData.region.id)" ng-disabled="regionsDisabled" required>
                    <option value="">Select region</option>
                    <!--  -->
                </select>
            </label>
            <label class="error block text-right padding assertive ng-hide" ng-show="user.region.$invalid && formSubmitted" for="region">
                Please select a region
            </label>
            <!-- /region -->

            <!-- organisation -->
            <label class="item item-select">
                <span class="input-label">Organisation</span>
                <select ng-model="formData.organisation" ng-options="option.name for option in organisations track by option.id" name="organisation" id="organisation" ng-disabled="organisationsDisabled" required>
                    <option value="">Select organisation</option>
                    <!--  -->
                </select>
            </label>
            <label class="error block text-right padding assertive ng-hide" ng-show="user.organisation.$invalid && formSubmitted" for="organisation">
                Please select an organisation
            </label>
            <!-- /organisation -->

            <!-- buttons -->
            <div class="item item-button">
                <button type="submit" class="button button-positive button-block button-outline">Save account settings</button>
            </div>

        </form>

        <form class="list">
            <div class="item item-divider">
                Information
            </div>
            <ion-item class="item-icon-right" ui-sref="tabs.terms-and-conditions">Terms &amp; conditions
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </form>

        <a ng-click="logOut()" class="button button-positive button-block button-clear"><i class="icon ion-log-out"></i> Log out</a>
    </ion-content>
</ion-view>