<ion-view title="Settings">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <p class="text-center padding">Get a reminder to log your hours when you leave the location:</p>
            <ion-toggle toggle-class="toggle-positive">Location reminders</ion-toggle>
        </form>
        <div class="spacer-10"></div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Project</span>
                <select>
                    <option>Regather Co-op</option>
                    <option>Leeds Community Homes</option>
                    <option>Totnes Renewable Energy Society</option>
                    <option>Amble Development Trust</option>
                    <option>Sheffield Renewables</option>
                </select>
            </label>
        </form>
        <ion-list>
            <ion-item class="item-icon-right" ui-sref="tabs.terms-and-conditions">Terms &amp; conditions
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="login" class="button button-positive button-block button-clear">Log out</a>
    </ion-content>
</ion-view>