<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Dashboard" icon="ion-ios-home" href="#/page1/tab1/dashboard" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Log hours" icon="ion-ios-time" href="#/page1/log-hours" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="View logs" icon="ion-ios-list" href="#/page1/view-logs" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-ios-cog" href="#/page1/settings" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>