<ion-view title="Terms &amp; conditions" id="page13">
    <ion-content padding="true" class="has-header">
    	<div class="padding">
    		<h4>1. Leo urna aspernatur</h4>
	        <p>Vel ante praesent. Urna nulla justo. Mauris adipiscing est tincidunt lacus suspendisse. Maecenas sed nec. Est lacus proin tempus vestibulum ut elit mus arcu. Quisque in vehicula eget lacinia ligula. Aliquam posuere orci sapien sit urna. Orci egestas duis vitae ut elit eu quisque id.</p>

	        <h4>2. Leo vehicula elit lacinia ipsum sed est risus gravida</h4>
	        <p>Libero tristique ut. Imperdiet vehicula vel urna odio ac leo urna sagittis. Faucibus interdum scelerisque. Pulvinar dolor arcu est quam tellus lacus varius varius libero ut dolor. Tortor sociis elementum. Adipiscing lobortis ac lorem diam sit. Nisl ornare metus. Neque id lobortis hendrerit sed tristique. Vestibulum erat con suspendisse pellentesque dapibus.</p>

	        <h4>3. Justo tellus a</h4>
	        <p>Porttitor et dolor nunc tristique felis posuere elementum magna ipsum mollis nonummy integer consequat accumsan justo vitae at a nec lacinia. Purus dictum rhoncus aenean arcu leo. Proin leo viverra. Vel ornare in. Urna id per. Arcu rutrum volutpat incididunt potenti in. Mattis non tincidunt. Eu pretium et. Nullam aliquet viverra pretium facilisis massa sem tristique amet.</p>

	        <h4>4. Aliquet nibh lacus</h4>
	        <p>Augue in velit. Luctus ullamcorper nisl neque officia auctor. Lobortis sed vitae eros aenean lectus sodales ligula nisl. Molestie elit morbi suspendisse dolor lacinia eget erat tempor wisi dolores ut. Libero velit amet ipsum proin laoreet. Fermentum ullamcorper sociosqu. Hac ut nibh vel senectus sociosqu mauris cras fermentum. Felis a mauris. Vulputate dictumst aliquam orci eleifend et.</p>

	        <h4>5. Porta ligula semper duis vestibulum mus</h4>
	        <p>Mollis est quam. Duis libero sed. Natoque et et amet luctus mauris iaculis dolor magnis in vulputate fermentum. Facilisis imperdiet sed mauris ac class. Pede luctus rhoncus omnis volutpat ultrices. Magna arcu amet. Vel lectus sem penatibus hac urna. Nec tortor justo pellentesque facilisis ad. Amet mauris nunc wisi blanditiis viverra ut ultricies ac.</p>
    	</div>
    </ion-content>
</ion-view>