<ion-view title="Dashboard" hide-back-button="true">
    <ion-content padding="true" scroll="false" class="has-header">

        <img class="logo" src="../img/power-to-change.svg" alt="">

        <div class="spacer-10"></div>

        <h4 class="text-center">My Total Hours</h4>

        <div class="total-hours-container padding row">
            <div class="col col-33">
                <span class="total-hours">15</span>
            </div>
        </div>

        <div class="hours-summary padding-horizontal">
            <ion-list>
                <ion-item class="hours-summary-today">
                    <div class="row row-no-padding">
                        <div class="col col-25">
                            <strong>Today</strong>
                        </div>
                        <div class="col col-25">
                            2 hrs
                        </div>
                        <div class="col col-50 text-right">
                            Regather Co-op
                        </div>
                    </div>
                </ion-item>
                <ion-item class="hours-summary-other">
                    <div class="row row-no-padding">
                        <div class="col">
                            This week
                        </div>
                        <div class="col col-25 text-right">
                            4 hrs
                        </div>
                    </div>
                </ion-item>
                <ion-item class="hours-summary-other">
                    <div class="row row-no-padding">
                        <div class="col">
                            Last week
                        </div>
                        <div class="col col-25 text-right">
                            7 hrs
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

        <a ui-sref="tabs.log-hours" class="button button-positive button-block button-outline icon-left ion-plus button-add">
            <span>Log hours</span>
        </a>
    </ion-content>
</ion-view>