<ion-view title="Dashboard" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <h3>My Total Hours</h3>
        <p><strong>15</strong></p>
        <ion-list>
            <ion-item><strong>Today</strong> - 2 hrs - Regather Co-op</ion-item>
            <ion-item>This week - 4 hrs</ion-item>
            <ion-item>Last week - 7 hrs</ion-item>
        </ion-list>
        <a ui-sref="tabsController.dashboardLogHours" class="button button-positive button-block icon-left ion-plus">Add hours</a>
    </ion-content>
</ion-view>