<ion-view title="Edit log">
    <ion-content padding="true" class="has-header">
        <form id="editLog" name="editLog" class="list" ng-submit="processForm(editLog)" novalidate>

            <!-- date -->
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="text" name="date_pretty" id="date_pretty" ng-model="formData.date_pretty" class="datepicker">
            </label>
            <label class="error block text-right padding assertive" ng-show="createLog.date.$invalid && formSubmitted" for="date">
                Please select a date
            </label>
            <!-- /date -->

            <!-- duration -->
            <label class="item item-input">
                <span class="input-label">Duration</span>
                <input type="number" name="duration" id="duration" ng-model="formData.duration" placeholder="E.g. 7" ng-show="organisationsLoaded && logLoaded" required>
            </label>
            <label class="error block text-right padding assertive" ng-show="createLog.duration.$invalid && formSubmitted" for="duration">
                Please enter a duration (hours)
            </label>
            <!-- /duration -->

            <!-- organisation -->
            <label class="item item-select">
                <span class="input-label">Organisation</span>
                <select ng-model="formData.organisation" ng-options="option.name for option in organisations track by option.id" name="organisation" id="organisation" ng-show="organisationsLoaded && logLoaded" required>
                    <option value="">Select organisation</option>
                    <!--  -->
                </select>
            </label>
            <label class="error block text-right padding assertive" ng-show="createLog.organisation.$invalid && formSubmitted" for="organisation">
                Please select an organisation
            </label>
            <!-- /organisation -->

            <!-- id -->
            <label class="item item-input ng-hide">
                <span class="input-label">Log id</span>
                <input type="text" ng-model="formData.id" name="user_id" id="user_id" required />
            </label>
            <!-- /id -->

            <!-- buttons -->
            <button type="submit" class="button button-positive button-block button-outline">Save</a>
        </form>
    </ion-content>
</ion-view>