<ion-view hide-back-button="{{isAndroid}}" title="Edit project">

    <ion-content padding="true" class="has-header has-header-tabs">

    <!-- form#editProject -->
    <form id="editProject" name="editProject" class="editLog list" ng-submit="processForm(editProject)" novalidate>

        <!-- project name -->
        <span class="input-label">Project name</span>
        <label class="item item-input">
            <input type="text" name="name" id="name" placeholder="{{project.name}}" ng-model="formData.name" required>
        </label>
        <label class="error block text-right padding assertive" ng-show="editProject.name.$invalid && formSubmitted" for="name">
            Please enter a project name
        </label>

        <!-- buttons -->
        <button type="submit" class="button button-energized button-block">Save</button>

    </form>
    <!-- /form#editProject -->

    </ion-content>
</ion-view>
