<ion-view title="Edit meeting">

    <!--<organisation-subheader></organisation-subheader>-->

    <ion-content padding="true" class="has-header has-subheader-organisation has-header-tabs">

    <!-- form#editMeeting -->
        <form id="editMeeting" name="editMeeting" class="editLog list" ng-submit="processForm(editMeeting)" novalidate>

            <!-- outreach type -->
            <h4 style="color: black"> What is your organisation's big project for outreach?</h4>
            <label class="item item-select">
                <select ng-model="formData.outreach_type" name="outreach" id="outreach" convert-to-number>
                    <option  value="" disabled selected>Select outreach</option>
                    <option ng-repeat="option in outreachTypes"  ng-selected="option.id == formData.outreach_type" value="{{option.id}}">{{option.name}}</option>
                    <!--  -->
                </select>
            </label>

            <!-- /organisation -->
            <div ng-hide="formData.outreach_type === null">

                <!-- organisation -->
                <label class="item item-select">
                    <span class="input-label">Organisation</span>
                    <select ng-model="formData.organisation_id" name="organisation" id="organisation" convert-to-number>
                        <option  value="" disabled selected>Select organisation</option>
                        <option ng-repeat="option in organisations"  ng-selected="option.id == formData.organisation_id" value="{{option.id}}">{{option.name}}</option>
                        <!--  -->
                    </select>
                </label>
                <!--  -->

                <!-- date -->
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="text" name="date_pretty" id="date_pretty" class="datepicker">
                </label>
                <label class="error block text-right padding assertive" ng-show="createLog.date.$invalid && formSubmitted" for="date">
                    Please select a date
                </label>
                <!-- /date -->
                <!-- meeting type -->
                <label class="item item-select">
                    <span class="input-label">Interaction type</span>
                    <select ng-model="formData.interaction_type" name="interaction" id="interaction" convert-to-number>
                        <option  value="" disabled selected>Select type</option>
                        <option ng-repeat="option in meetingTypes" ng-selected="option.id == formData.interaction_type" value="{{option.id}}">{{option.name}}</option>
                        <!--  -->
                    </select>
                </label>
                <!-- /meeting type -->

                <!-- meeting partner -->
                <label class="item item-select">
                    <span class="input-label">Interaction with</span>
                    <select ng-model="formData.outreach_child_type" name="outreachChild" id="outreachChild" convert-to-number>
                        <option  value="" disabled>Select partner</option>
                        <option ng-repeat="option in outreachChildTypes"  ng-selected="option.id == formData.outreach_child_type" value="{{option.id}}">{{option.name}}</option>
                        <!--  -->
                    </select>
                </label>
                <!-- /name -->

                <!-- buttons -->
                <button type="submit" class="button button-energized button-block">Save</button>

            </div>

        </form>
        <!-- /form#editMeeting -->

    </ion-content>
</ion-view>
