<ion-view title="Log hours">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="" ng-model="today">
            </label>
            <label class="item item-input">
                <span class="input-label">Hours</span>
                <input type="number" placeholder="E.g. 7">
            </label>
        </form>
        <button class="button button-positive button-block button-outline">Save</button>
    </ion-content>
</ion-view>