<ion-view title="Log outreach">

    <!--<organisation-subheader></organisation-subheader>-->

    <ion-content padding="true" class="has-header  has-header-tabs">

    <!-- form#createMeeting -->
        <form id="createMeeting" name="createMeeting" class="list" ng-submit="processForm(createMeeting)" novalidate>

            <!-- outreach type -->
            <span class="input-label">What is your organisation's big project for outreach?</span>
            <label class="item item-select">
                <select ng-model="formData.outreach_type" name="outreach" id="outreach" convert-to-number>
                    <option  value="" disabled selected>Select outreach</option>
                    <option ng-repeat="option in outreachTypes" ng-selected="option.id === formData.outreach_type" value="{{option.id}}">{{option.name}}</option>
                    <!--  -->
                </select>
            </label>

            <!-- /organisation -->
            <div ng-hide="formData.outreach_type === null">

                <!-- organisation -->
                <span class="input-label">Organisation</span>
                <label class="item item-select">
                    <select required ng-model="formData.organisation_id" name="organisation" id="organisation" convert-to-number>
                        <option  value="" disabled selected>Select organisation</option>
                        <option ng-repeat="option in organisations" value="{{option.id}}">{{option.name}}</option>
                        <!--  -->
                    </select>
                </label>
                <!--  -->

                <!-- date -->
                <span class="input-label">Date</span>
                <label class="item item-input">
                    <input type="text" name="date_pretty" id="date_pretty" class="datepicker">
                </label>
                <label class="error block text-right padding assertive" ng-show="createLog.date.$invalid && formSubmitted" for="date">
                    Please select a date
                </label>
                <!-- /date -->
                <!-- meeting type -->
                <span class="input-label">Interaction type</span>
                <label class="item item-select">
                    <select required ng-model="formData.type" ng-options="option.name for option in meetingTypes track by option.id"
                            name="meetingType" id="meetingType">
                        <option value="">Select type</option>
                        <!--  -->
                    </select>
                    <label class="error block text-right padding assertive" ng-show="createLog.type.$invalid && formSubmitted" for="meetingType">
                        Please select a type
                    </label>
                </label>
                <!-- /meeting type -->
                <!-- meeting partner -->
                <span class="input-label">Interaction with</span>
                <label class="item item-select">
                    <select required ng-model="formData.outreach_child_type" name="outreachChild" id="outreachChild" convert-to-number>
                        <option  value="" disabled>Select partner</option>
                        <option ng-repeat="option in outreachChildTypes" value="{{option.id}}">{{option.name}}</option>
                        <!--  -->
                    </select>
                    <label class="error block text-right padding assertive" ng-show="createLog.outreach_child_type.$invalid && formSubmitted" for="meetingType">
                        Please select a partner
                    </label>
                </label>
                <!-- /name -->

                <!-- buttons -->
                <button type="submit" ng-disabled="createMeeting.$invalid" class="button button-energized button-block">Log outreach</button>
                </div>

        </form>
        <!-- /form#createMeeting -->

    </ion-content>
</ion-view>
