<ion-tabs class="tabs-positive tabs-icon-top">
	<!-- <a href="/" onclick="window.location = '/';" style="color: rgba(255,255,255,0.3); text-decoration: none;">H</a> -->
    <ion-tab title="Dashboard" icon="ion-stats-bars" href="#/tab/dashboard">
        <ion-nav-view name="dashboard-tab" ng-init="refreshDashboard()"></ion-nav-view>
    </ion-tab>
    <ion-tab title="View logs" icon="ion-ios-list" href="#/tab/view-logs">
        <ion-nav-view name="view-logs-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-ios-cog" href="#/tab/settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
