<ion-view title="Terms &amp; conditions" id="page13">
    <ion-content padding="true" class="has-header">
    	<div class="padding">
	        <p id="termsConditions-markdown11" style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	        <p id="termsConditions-markdown12" style="color:#000000;">Sed feugiat justo id viverra consequat.</p>
	        <p id="termsConditions-markdown13" style="color:#000000;">Donec tempus, nunc vitae semper sagittis, odio magna semper ipsum, et laoreet sapien mauris vitae arcu.</p>
    	</div>
    </ion-content>
</ion-view>