<ion-view title="View logs">
    
    <organisation-subheader></organisation-subheader>

    <ion-content padding="true" class="has-header has-subfooter has-subheader-organisation view-logs">

        <p class="no-logs text-center padding animate fadeIn absolute" ng-if="noLogs">You haven't created any logs yet.</p>
        
        <div class="padding text-center" ng-if="!logs">
            <ion-spinner class="text-center"></ion-spinner>
        </div>

        <ion-list>

            <!-- <ion-item class="item-icon-left item-remove-animate" ng-class="{ 'needs-pushing': log.needs_pushing, 'deleted': log.deleted_at }" ng-repeat="log in logs | orderBy: ['-date_of_log','-updated_at'] | filter: {deleted_at : '!'}"> -->
            <ion-item class="item-icon-left item-remove-animate" ng-class="{ 'needs-pushing': log.needs_pushing, 'deleted': log.deleted_at }" ng-repeat="log in logs | orderBy: ['-date_of_log','-updated_at']">
                <i class="icon" ng-class="{ 'ion-alert': log.needs_pushing, 'ion-ios-time': !log.needs_pushing }">
                    <span ng-if="log.needs_pushing">Not pushed</span>
                </i>
                <h2 ng-bind-html="log.duration | hoursAndMinutesAsString"></h2>
                <p>{{ log.date_of_log.split(' ')[0] | date:'d MMM yyyy'}} @ {{ organisationName }}</p>
                <div class="button-bar">
                    <a ng-if="!log.deleted_at" href="#/tab/edit-log/{{ log.id }}" class="button button-positive button-block button-clear icon-left ion-edit">Edit</a>
                    <button ng-if="!log.deleted_at" class="button button-positive button-block button-clear icon-left ion-android-delete" ng-click="delete(log)">Delete</button>
                    <span ng-if="log.deleted_at" class="button button-positive button-block button-clear">Deleted</span>
                </div>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>