<ion-view hide-nav-bar="true" title="Log outreach">

    <div ng-if="noOutreach" class="noResults">
        <h4 class="text-center label">You haven't created any logs yet.</h4>
    </div>

    <ion-content padding="true" overflow-scroll="false" has-bouncing="true" class="has-header view-logs log-hours">

        <div class="padding text-center" ng-if="!outreaches">
            <ion-spinner class="text-center"></ion-spinner>
        </div>

        <ion-list>

            <ion-item style="margin-bottom: 10px" class="item-remove-animate" ng-class="{ 'needs-pushing': outreach.needs_pushing, 'deleted': outreach.deleted_at }" ng-repeat="outreach in outreaches | orderBy: ['-date','-updated_at']">
                <i class="icon" ng-class="{ 'ion-alert': meeting.needs_pushing}">
                    <span ng-if="outreach.needs_pushing">Not pushed</span>
                </i>
                <div style="float: left; max-width: 70%;overflow: hidden">
                <h2>{{outreach.outreach_child_type.name}}</h2><div class="spacer-10"></div>
                <h3 style="color: black">{{outreach.outreach_type.name}}</h3>
                <p>{{ outreach.date.split(' ')[0] | date:'d MMM yyyy'}} @ {{ outreach.organisation_id.name }}</p>
                <p ng-if="options.debug">id: {{ outreach.id }}</p>
                <p>{{outreach.interaction_type.name}}</p>
                </div>
                <div class="button-bar">
                    <a ng-if="!outreach.deleted_at" class="button button-positive button-block button-clear" ng-click="edit(outreach)" ng-disabled="meeting.previous_month"><i class="icon-custom-edit"></i> </a>
                    <button ng-if="!outreach.deleted_at" class="button button-positive button-block button-clear" ng-click="delete(outreach)" ng-disabled="meeting.previous_month"><i class="icon-custom-delete"></i> </button>
                    <span ng-if="outreach.deleted_at" class="button button-positive button-block button-clear">Deleted</span>
                </div>
            </ion-item>

            <div class="spacer-100"></div>

        </ion-list>

    </ion-content>
    <div ng-if="noOutreach" class="button-add-message view-logs-button">
        <p>Click on this button to start logging interactions</p>
    </div>
    <a ui-sref="tabs.view-logs.new-meeting-log" class="button button-energized button-block icon-left ion-plus button-add view-logs-button">
    </a>
</ion-view>
