<ion-view title="View logs" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="viewLogs-card21">
            <ion-item class="item-icon-left  " id="viewLogs-list-item7">
                <i class="icon ion-ios-time"></i>7 hours</ion-item>
            <div class="item item-body " id="viewLogs-list-item-container5">
                <p id="viewLogs-markdown5" style="margin-top:0px;color:#000000;">28th July 2016 @ Regather Co-op</p>
                <div id="viewLogs-button-bar3" class=" button-bar ">
                    <a ui-sref="tabsController.editLog" id="viewLogs-button20" class=" button button-positive  button-block button-outline icon-left ion-edit ">Edit</a>
                    <button id="viewLogs-button21" class=" button button-positive  button-block button-outline icon-left ion-android-delete ">Delete</button>
                </div>
            </div>
        </div>
        <div class="list card " id="viewLogs-card23">
            <ion-item class="item-icon-left  " id="viewLogs-list-item11">
                <i class="icon ion-ios-time"></i>6 hours</ion-item>
            <div class="item item-body " id="viewLogs-list-item-container6">
                <p id="viewLogs-markdown6" style="margin-top:0px;color:#000000;">27th July 2016 @ Regather Co-op</p>
                <div id="viewLogs-button-bar2" class=" button-bar ">
                    <a ui-sref="tabsController.editLog" id="viewLogs-button16" class=" button button-positive  button-block button-outline icon-left ion-edit ">Edit</a>
                    <button id="viewLogs-button17" class=" button button-positive  button-block button-outline icon-left ion-android-delete ">Delete</button>
                </div>
            </div>
        </div>
        <div class="list card " id="viewLogs-card24">
            <ion-item class="item-icon-left  " id="viewLogs-list-item13">
                <i class="icon ion-ios-time"></i>7 hours</ion-item>
            <div class="item item-body " id="viewLogs-list-item-container8">
                <p id="viewLogs-markdown8" style="margin-top:0px;color:#000000;">26th July 2016 @ Regather Co-op</p>
                <div id="viewLogs-button-bar4" class=" button-bar ">
                    <a ui-sref="tabsController.editLog" id="viewLogs-button23" class=" button button-positive  button-block button-outline icon-left ion-edit ">Edit</a>
                    <button id="viewLogs-button24" class=" button button-positive  button-block button-outline icon-left ion-android-delete ">Delete</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>