<ion-view title="View logs">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-time"></i>7 hours
            </ion-item>
            <div class="item item-body">
                <p>28th July 2016 @ Regather Co-op</p>
                <div class="button-bar">
                    <a href="#/tab/edit-log/1" class="button button-positive button-block button-outline icon-left ion-edit">Edit</a>
                    <button class="button button-positive button-block button-outline icon-left ion-android-delete">Delete</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-time"></i>6 hours
            </ion-item>
            <div class="item item-body">
                <p>27th July 2016 @ Regather Co-op</p>
                <div class="button-bar">
                    <a href="#/tab/edit-log/2" class="button button-positive button-block button-outline icon-left ion-edit">Edit</a>
                    <button class="button button-positive button-block button-outline icon-left ion-android-delete">Delete</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-time"></i>7 hours
            </ion-item>
            <div class="item item-body">
                <p>26th July 2016 @ Regather Co-op</p>
                <div class="button-bar">
                    <a href="#/tab/edit-log/3" class="button button-positive button-block button-outline icon-left ion-edit">Edit</a>
                    <button class="button button-positive button-block button-outline icon-left ion-android-delete">Delete</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>