// logo
.logo {
	margin: 10px auto;
    display: block;
    width: 250px;
}

// buttons
.button-faint {
	opacity: 0.1;
}

// popups
.popup-container.error .popup-title {
    color: $assertive;
}

// shout
.shout {
	text-align: center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3000;
	left: 0;
	top: 0;
	pointer-events: none;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
	.shout-content {
		transition: all 0.3s;
		display: inline-block;
		vertical-align: middle;
		width: 300px;
		padding: 10px 10px;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 5px;
		color: white;
		font-size: 15px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// forms
select[disabled], .item-select-disabled:after {
	opacity: 0.4;
}