language: node_js
node_js:
  - '10'

env:
  global:
    - NODE_ENV=testing

addons:
  postgresql: "9.6"
  apt:
    packages:
      - postgresql-9.6-postgis-2.4

services:
  - postgresql
  - redis-server

install:
  - bash ./.travis/cc-download.sh
  - for x in  "lib/eslint-config-twine" "lib/twine-util"; do cd $x; npm install; cd ../..; done;
  - for x in "api" "dashboard-app" "visitor-app"; do cd $x; npm install; cd ..; done;

before_script:
  - psql -U postgres -c 'create database twine_api_test'
  - psql -U postgres -c 'create extension postgis'
script:
  - for x in "api" "dashboard-app" "visitor-app"; do cd $x; npm run lint; cd ..; done;
  - for x in "api" "dashboard-app" "visitor-app"; do cd $x; npm run build; cd ..; done;
  - for x in "api" "dashboard-app" "visitor-app"; do cd $x; npm run checks; cd ..; done;
  - for x in "api" "dashboard-app" "visitor-app"; do cd $x; npm run cover; cd ..; done;

after_success:
  - bash $TRAVIS_BUILD_DIR/.travis/cc-report.sh

notifications:
  email:
    on_success: never
    on_failure: always
