// view logs
.view-logs {

	.item h2 {
		font-weight: bold;
		.hours, .minutes {
			.unit {
				font-size: 13px;
			}
		}
	}

	.no-logs {
		position: absolute;
		width: 100%;
		left: 0;
	}

	.button-bar {
		max-width: 230px;
	    float: right;
	    .button {
	    	min-height: 37px;
	    	margin-bottom: 0;
	    }
	}
}